# Xcode
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# App Bundle
*.app

# Build artifacts
DerivedData/
*.hmap
*.ipa

# macOS
.DS_Store
.AppleDouble
.LSOverride
